<!DOCTYPE html>
<html>
<head>

</head>
<body>



<h1> Taxonomy </h1>


            {% for flashMessageType, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ flashMessageType }}">
                        <strong>{{ flashMessageType | capitalize }}:</strong> {{ flashMessage }}
                    </div>
                 {% endfor %}
            {% endfor %}

<div id="content">
    {% block body %}
    {% endblock %}
</div>


</body>
</html>